<launch>

  <arg name="gui" default="true" />
  
  <param name="robot_description" textfile="$(find snake_robot)/snake_description/urdf/twoJoints.urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find snake_robot)/snake_description/rviz/twoJoints.rviz" required="true"/>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="joint_state_publisher" pkg="snake_robot" type="circle_TwoJointPublisher" />
</launch>
